<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Organic Information</p>
          <h1>News Article</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- latest news -->


<div class="latest-news mt-150 mb-150">
  <div class="container">

    <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>
    <nav class="navbar bg-light">
      <form class="container-fluid justify-content-start">
        <a href="/"><button class="btn btn-sm btn-outline-secondary" type="button">All Ideas</button></a>
        <a href="/most-popular"></a><button class="btn btn-sm btn-outline-secondary" type="button">Most Poppular</button></a>
        <a href="/most-viewed"></a><button class="btn btn-sm btn-outline-secondary" type="button">Most Viewed</button></a>
        <a href="/last-ideas/1"><button class="btn btn-outline-success me-2" type="button">Latest Idea</button></a>
        <a href="/last-comment"></a><button class="btn btn-sm btn-outline-secondary" type="button">Latest Comments</button></a>
      </form>
    </nav>
    <%} else  {%>
    <nav class="navbar bg-light">
      <form class="container-fluid justify-content-start">
        <a href="/"><button class="btn btn-outline-success me-2" type="button">All Ideas</button></a>
        <a href="/most-popular"></a><button class="btn btn-sm btn-outline-secondary" type="button">Most Poppular</button></a>
        <a href="/most-viewed"></a><button class="btn btn-sm btn-outline-secondary" type="button">Most Viewed</button></a>
        <a href="/last-ideas/1"><button class="btn btn-sm btn-outline-secondary" type="button">Latest Idea</button></a>
        <a href="/last-comment"></a><button class="btn btn-sm btn-outline-secondary" type="button">Latest Comments</button></a>
      </form>
    </nav>
    <%} %>


    <div class="row">
      <% for(var i = 0; i < ideas.length; i++) { %>
      <div class="col-lg-4 col-md-6">
        <div class="single-latest-news">
          <a href="single-news.html">
            <div class="latest-news-bg news-bg-1"></div>
          </a>
          <div class="news-text-box">
            <h3><a href="single-news.html"><%= ideas[i].title %></a></h3>
            <h3><a href="single-news.html"></a></h3>
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> <%= ideas[i].user.username %></span>
              <span class="date"><i class="fas fa-calendar"></i> <%= ideas[i].createdDate %></span>
            </p>
            <p class="excerpt"><%= ideas[i].content.substring(0, 50) + "..."%></p>
            <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <% } %>

    </div>

    <div class="row">
      <!-- hiển thị phân trang nếu có trang -->
      <% if(pages > 0) { %>
      <nav class="mx-auto">
        <ul class="pagination" style="margin-top: 2rem;">

          <!-- FIRST ITEM -->
          <% if(current == 1) { %>
          <!-- // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled -->
          <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>

          <li class="page-item disabled">
            <a class="page-link" href="/">First</a>
          </li>
          <% }
              else { %>
          <li class="page-item disabled">
            <a class="page-link" href="/last-ideas/1">First</a>
          </li>
          <% } %>
          <% } else { %>
          <!-- // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled -->
          <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>
          <li class="page-item">
            <a class="page-link" href="/last-ideas/1">First</a>
          </li>
          <% }else { %>
          <li class="page-item">
            <a class="page-link" href="/">First</a>
          </li>
          <% } %>
          <% } %>

          <!-- ITEMS  -->
          <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
          <!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 >
   // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
          <% if(i !== 1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
          <% } %>
          <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
          <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
          // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
          <% if(i == current) { %>
          <!-- Check filter -->
          <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>
          <li class="page-item active">
            <a class="page-link" href="/last-ideas/<%= i %>/">
              <%= i %>
            </a>
          </li>
          <%} else {%>
          <li class="page-item active">
            <a class="page-link" href="/<%= i %>/">
              <%= i %>
            </a>
          </li>
          <%} %>
          <!-- End Check Filter -->
          <% } else { %>
          <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>
          <li class="page-item">
            <a class="page-link" href="/last-ideas/<%= i %>/">
              <%= i %>
            </a>
          </li>
          <%} else {%>
          <li class="page-item">
            <a class="page-link" href="/<%= i %>/">
              <%= i %>
            </a>
          </li>
          <%} %>
          <% } %>
          <% if (i == Number(current) + 2 && i < pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
          <% } %>
          <% } %>

          <!-- LAST ITEM -->
          <% if(current == pages) { %>
          <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
          <li class="page-item disabled">
            <a class="page-link" href="#">
              Last
            </a>
          </li>
          <% } else { %>
          <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->
          <% if(typeof filter !== 'undefined' && filter === 'last-ideas') {%>
          <li class="page-item">
            <a class="page-link" href="/last-ideas/<%= pages %>/">
              Last
            </a>
          </li>
          <%} else {%>
          <li class="page-item">
            <a class="page-link" href="/<%= pages %>/">
              Last
            </a>
          </li>
          <%} %>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>
  </div>
</div>
<!-- end latest news -->