<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>University Of Greenwich</p>
          <h1><%= title %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- Section: list departments -->
<div class="contact-from-section mt-150 mb-150">
  <div class="container">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Describe</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% 
          i = 1; 
          departments.forEach(element => {  %>
        <tr>
          <th scope="row"><%= i++ %></th>
          <td><%= element.name %></td>
          <td><%= element.describe %></td>
          <td>
            <a href="updateDepartment/<%= element._id %>" class="btn btn-warning">Edit</a>
            <button type="button" class="btn btn-primary" data-id="<%= element._id %>" data-toggle="modal" data-target="#delete_department_modal">
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<!-- End: Section: list departments -->

<!-- Modal -->
<div class="modal fade" id="delete_department_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete this department?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-department" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="form-delete-department" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var department_id;
    var formDeleteDepartment = document.forms['form-delete-department'];
    var btnDeleteDepartment = document.getElementById('btn-delete-department');

    $('#delete_department_modal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget);
      department_id = button.data('id');
    })

    btnDeleteDepartment.onclick = function() {
      formDeleteDepartment.action = '/deleteDepartment/' + department_id;
      formDeleteDepartment.submit();
    };
  });
</script>