<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>University Of Greenwich</p>
          <h1><%= title %></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- account form -->
<div class="contact-from-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="form-title">
          <h2><%= title %></h2>
        </div>
        <div id="form_status"></div>
        <div class="contact-form">

          <form method="POST" action="/updateFormAccount">

            <input type="text" name="id" value="<%= account._id %>" hidden />

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="username" value="<%= account.username %>" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" value="<%= account.password %>">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Full Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="fullName" value="<%= account.fullName %>">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Date Of Birth:</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="dob" value="<%= account.dob %>">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" value="<%= account.email %>">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Phone:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="phone" value="<%= account.phone %>">
              </div>
            </div>

            <div class="form-group row">
              <label for="" class="col-sm-2 col-form-label">Department:</label>
              <div class="col-sm-10">
                <select name="department" id="" class="form-control">
                  <option value="0" style="display: none;">Choose Department</option>
                  <% for( let index = 0; index < allDepartments.length; index++ ) { %>
                  <option value="<%= allDepartments[index]._id %>" <%= (account.department._id.equals(allDepartments[index]._id)) ? 'selected' : '' %>><%= allDepartments[index].name %></option>
                  <% } %>
                </select>
              </div>
            </div>

            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-10">

                  <% for( let index = 0; index < allRoles.length; index++ ) { %>
                  <% if (account.role == allRoles[index]._id) { %>
                  test
                  <% } %>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="gridRadios1" value="<%= allRoles[index]._id %>" <%= (account.role._id.equals(allRoles[index]._id)) ? 'checked' : '' %>>
                    <label class="form-check-label" for="">
                      <%= allRoles[index].name %>
                    </label>
                  </div>
                  <% } %>

                </div>
              </div>
            </fieldset>



            <div class="form-group row">
              <div class="col-sm-10">
                <input type="submit" value="UPDATE">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end account form -->