<div class="row">
  <div class="col-lg-12 col-sm-12 text-center">
    <div class="main-menu-wrap">
      <!-- logo -->
      <div class="site-logo">
        <a href="/">
          <img src="/img/logo.png" alt="" />
        </a>
      </div>
      <!-- logo -->

      <% if (typeof user !=="undefined" ) { %>

      <%# Start: Nav Admin Site %>
      <% if (user.role.name==="Admin" ) { %>
      <!-- menu start -->
      <nav class="main-menu">
        <ul>

          <li><a href="/">Home</a></li>

          <li>
            <a href="#">Accounts</a>
            <ul class="sub-menu">
              <li><a href="/listAccounts">List Accounts</a></li>
              <li><a href="/formAccount">Create new account</a></li>
            </ul>
          </li>

          <li>
            <a href="#">Departments</a>
            <ul class="sub-menu">
              <li><a href="/listDepartments">List Departments</a></li>
              <li><a href="/formDepartment">Create new department</a></li>
            </ul>
          </li>

          <li>
            <a href="#">Events</a>
            <ul class="sub-menu">
              <li><a href="/listEvents">List Events</a></li>
              <li><a href="/formEvent">Create new event</a></li>
            </ul>
          </li>

          <li>
            <div class="header-icons">
              <a class="boxed-btn" href="">Hello, <%= user.fullName %> | <%= user.role.name %></a>
              <ul class="sub-menu">
                <li><a href="/updateAccount/<%= user._id %>">Account Settings</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <%# End: Nav Admin Site %>

      <%# Start: Nav Staff Site %>
      <% } else if (user.role.name==="Staff" ) { %>
      <nav class="main-menu">
        <ul>

          <li><a href="/">Home</a></li>

          <li><a href="/upload">Upload</a></li>
          <li><a href="/myideas">My Ideas</a></li>
          <li>
            <div class="header-icons">
              <a class="boxed-btn" href="">Hello, <%= user.fullName %> | <%= user.role.name %></a>
              <ul class="sub-menu">

                <li><a href="/logout">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <%# End: Nav Staff Site %>

      <%# Start: Nav QA Manager Site %>
      <% } else if (user.role.name==="QA Manager" ) { %>
      <nav class="main-menu">
        <ul>

          <li><a href="/">Home</a></li>

          <li>
            <a href="#">Categories</a>
            <ul class="sub-menu">
              <li><a href="/listCategories">List Categories</a></li>
              <li><a href="/formCategory">Create new category</a></li>
            </ul>
          </li>

          <li>
            <div class="header-icons">
              <a class="boxed-btn" href="">Hello, <%= user.fullName %> | <%= user.role.name%></a>
              <ul class="sub-menu">

                <li><a href="/logout">Log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <%# End: Nav QA Manager Site %>
      <% } %>

      <% } %>


      <!-- menu end -->
      <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
      <div class="mobile-menu"></div>


    </div>
  </div>
</div>