<!-- Start breadcrumb section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>University Of Greenwich</p>
          <h1> Detail Ideas</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- single article section -->
<script>
  let id = "<%= idea._id %>"
</script>
<div class="mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="single-article-section">

          <div class="single-article-text">
            <p class="blog-meta">
              <span class="author"><i class="fas fa-user"></i> <%= idea.isAnonymous ? 'Unknown' : idea.user.username %></span>
              <span class="date" style="margin-left: 630px;"><i class="fas fa-calendar"></i> <%= formattedList.createdDate %></span>
              
            </p>
            <p class="blog-meta">
              <span class="category"><i class="fa fa-tags" aria-hidden="true"></i> <%= idea.category.nameCate %></span>
            </p>
            <p class="blog-meta">
              <span class="viewed"><i class="fa fa-eye" aria-hidden="true"></i> <%= idea.viewedBy.length %></span>
            </p>
            
            
            
           
            <h2><%= idea.title %></h2>
            <p><%= idea.content %></p>
            <div class="right-left">
              <select id="download-option">
                <option value="all">All Document</option>
                <% for (const file of files) { %>
                <option value="<%= file.name %>"><%= file.name %> / <span class="file-size"><%= (file.files.length / 1024).toFixed(2) %> KB</span></option>
                <% } %>
              </select>
              <button id="download-btn" class="btn btn-info">Download</button>
            </div>

            <div class="hide" style="display: none;">
              <% for (const file of files) { %>
              <a href="data:application/octet-stream;base64,<%= file.files.toString('base64') %>" download="<%= file.name %>" class="btn btn-primary btn-file" data-file="<%= file.name %>">
                <i class="fas fa-file"></i>
                <span class="file-name"><%= file.name %></span>
                <span class="file-size"><%= (file.files.length / 1024).toFixed(2) %> KB</span>
              </a>
              <% } %>
            </div>

          </div>
          <% if (idea.hashtags.length > 0) { %>
          <span>Tags:</span>
          <% for (const hashtag of idea.hashtags) { %>
          <span class="badge bg-info text-white">#<%= hashtag %></span>
          <% } %>
          <% } %>
          

          <div class="action">
            <div>
              <!-- Thumbs up -->
              <div class="like grow" data="<%= idea._id %>" id="like-idea">
                <span id="number-like"><%= idea.like %></span>
                <button id="like-button" class="btn btn-outline-primary <%= isLiked ? 'active' : '' %> " data-id="<%= idea._id %>">
                  <i class="fa fa-thumbs-up fa-3x like" aria-hidden="true" style="font-size: 15px;"></i>
                  <span class="ms-2"><%= numLikes %></span>
                </button>



              </div>
              <!-- Thumbs down -->
              <div class="dislike grow" data="<%= idea._id %>" id="dislike-idea">
                <span id="number-dislike"><%= idea.dislike %></span>
                <button id="dislike-button" class="btn btn-outline-danger <%= isDisliked ? 'active' : '' %>" data-id="<%= idea._id %>">
                  <i class="fa fa-thumbs-down fa-3x like" aria-hidden="true" style="font-size: 15px;"></i>
                  <span class="ms-2"><%= numDislikes %></span>
                </button>
              </div>
              <!-- Comments -->
            </div>
          </div>
          <div class="interactions">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#interactionModal">Click to see user's interaction</button>
					</div>
          <div class="modal fade" id="interactionModal" tabindex="-1" role="dialog" aria-labelledby="interactionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="interactionModalLabel">Users Interaction</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#likesTab" role="tab">Likes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#dislikesTab" role="tab">Dislikes</a>
                    </li>
                  </ul>
                  
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="likesTab" role="tabpanel">
                      <ul class="list-group">
                        <% idea.likedBy.forEach(user => { %>
                        <li class="list-group-item"><%= user.username %></li>
                        <% }); %>
                      </ul>
                    </div>
                    <div class="tab-pane" id="dislikesTab" role="tabpanel">
                      <ul class="list-group">
                        <% idea.dislikedBy.forEach(user => { %>
                          <li class="list-group-item"><%= user.username %></li>
                          <% }); %>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="comments-list-wrap">
            <h3 class="comment-count-title"><%=comments.length%> Comment</h3>
            <div class="comment-list" id="list-comment">
              <% for(var i=0; i < comments.length; i++) { %>
              <div class="single-comment-body">
                <div class="comment-text-body">
                  <% if (comments[i].anonymous) { %>
                  <h4>Unknown <span class="comment-date">Created at: <%= new Date(comments[i].created_at).toLocaleDateString()  %></span></h4>
                  <% } else { %>
                  <h4><%= comments[i].user.username %> <span class="comment-date">Created at: <%= new Date(comments[i].created_at).toLocaleDateString()  %></span></h4>
                  <% } %>
                  <p><%= comments[i].comment %></p>
                </div>
              </div>
              <% } %>
            </div>
          </div>

          <% if (checkHasTrueStatusComment == true) { %>
          <div class="comment-template">
            <h4>Leave a comment</h4>
            <p>If you have a comment dont feel hesitate to send us your opinion.</p>
            <div class="contact-form">
              <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                <input type="text" class="form-control" placeholder="Enter your comment..." id="comment-value">
              </div>
              <div class="anoymous">
                <!-- value="true": Đặt giá trị cho ô checkbox là "true". -->
                <input type="checkbox" id="anonymous-checkbox" name="anonymous" value="true">
                <label for="anonymous-checkbox">Comment anonymously?</label>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <input type="submit" value="COMMENT" id="add-comment">
                </div>
              </div>
            </div>
          </div>

          <% } else { %>
          <div class="comment-template">
            <h4>Can not comment at this time!!!</h4>
          </div>
          <% } %>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const downloadBtn = document.getElementById('download-btn');
  const downloadOption = document.getElementById('download-option');
  const fileLinks = document.querySelectorAll('.btn-file');

  downloadBtn.addEventListener('click', () => {
    const selectedValue = downloadOption.value;

    if (selectedValue === 'all') {
      fileLinks.forEach((link) => {
        link.click();
      });
    } else {
      const selectedLink = document.querySelector(`[data-file="${selectedValue}"]`);
      selectedLink.click();
    }
  });
</script>
<!-- end single article section -->