

<style>
span.text-muted:not(:last-child)::after  {
  content: "\2022";
  margin-left: 5px;
}



</style>
    
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Organic Information</p>
            <h1>My Ideas</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
 
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card mt-4" >
          <div class="card-body">
            <h5 class="card-title mb-4">User Info</h5>
            <h6 class="card-subtitle mb-2 text-muted">Username: <span style="color: #FFA500;"><%= ideas[0].user.username %></span></h6>
            <h6 class="card-subtitle mb-2 text-muted">Full Name: <span style="color: #FFA500;"><%= ideas[0].user.fullName %></span></h6>
            <h6 class="card-subtitle mb-2 text-muted">Email: <span style="color: #FFA500;"><%= ideas[0].user.email %></span></h6>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Posts
                <span class="badge badge-pill badge-primary"><%= totals[0].totalIdeas %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Views
                <span class="badge badge-pill badge-primary"><%= totals[0].totalViews %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Likes
                <span class="badge badge-pill badge-primary"><%= totals[0].totalLikes %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Dislikes
                <span class="badge badge-pill badge-primary"><%= totals[0].totalDislikes %></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="card sticky-top" style="top: 150px; z-index: 1;margin-top: 15px;">
          <div class="card-body">
            <h5 class="card-title mb-4">Categories</h5>
            <ul class="list-group">
              <% for(var i=0; i < cate.length; i++) { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= cate[i].category.nameCate %>
                <span class="badge badge-pill badge-primary"><%= cate[i].count %></span>
              </li>
              <% } %>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="blog-posts">
          <% for(var i=0; i < ideas.length; i++) { %>
          <article class="card my-3">
            <div class="card-body">
              <h3 class="card-title"><a href="/detailIdeas/<%= ideas[i]._id %>"><%= ideas[i].title %></a></h3>
              <div class="card-text">
                <span class="text-muted"><i class="fas fa-tags" style="margin-right: 10px;"></i><a href="#" class="text-dark" ><%= ideas[i].category %></a></span>
                <span class="text-muted">Created at <%= ideas[i].createdDate %></span>
                <span class="text-muted"><%= ideas[i].like %> likes</span>
                <span class="text-muted"><%= ideas[i].dislike %> dislikes</span>
                <span class="text-muted"><%= ideas[i].commentCount %> comments</span>
                <span class="text-muted"><%= ideas[i].viewCount %> views</span>
              </div>
              <hr>
              <p class="card-text"><%= ideas[i].content %></p>
              <div class="d-flex ">
                <span><i class="fas fa-paperclip text-primary mr-3"></i></span>
                <span><%= ideas[i].uploadCount %> </span>
                
              </div>
            </div>
          </article>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  

   
